# global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.

rule_files:
 - 'prometheus.rules.yml'

# A scrape configuration containing exactly one endpoint to scrape:
scrape_configs:
  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8889'] # the address of an application that exposes metrics for prometheus
  - job_name: 'prometheus'
    scrape_interval: 5s # Override the default scraping configuration
    static_configs:
      - targets: ['localhost:9090']